{#
/**
 * @file
 * Theme for the file uploader element.
 *
 * Available variables:
 * - element: Form element for the file uploader.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_file_uploader()
 */
#}
<div{{ attributes.addClass('file-uploader') }}>
  {{ element }}
</div>
